<app-header></app-header>
<div id="main">
    <mat-card-content id="cadastro">
        <mat-card-title>Filmes</mat-card-title>
        <img src="/assets/cinema 1.png">
        <div id='form'>
            <mat-card-subtitle>Cadastrar Filmes</mat-card-subtitle>
            <div id="card-input">
                <mat-form-field appearance="outline">
                    <mat-label>Título do Filme</mat-label>
                    <input matInput type="text" [formControl]="titulo" >
                    <mat-error *ngIf="titulo.invalid">Esse campo é obrigatório</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" >
                    <mat-label>Gênero</mat-label>
                    <mat-select [formControl]="genero" >
                      <div *ngFor="let nome of listaGeneros">
                        <mat-option value="{{nome.genero}}" >{{nome.genero}}</mat-option>
                      </div>
                    </mat-select>
                    <mat-error *ngIf="genero.hasError('required') ">Campo obrigatório!</mat-error>
                </mat-form-field>
                <button mat-flat-button type="submit" [disabled]="titulo.invalid || genero.hasError('required')" (click)="Cadastrar()">Salvar</button>
            </div>
        </div>
    </mat-card-content>
    <mat-card id="filmes-cadastrados" *ngFor="let filme of listaFilmes">
        <mat-card-content class="card-filme">
            <span class="titulo">{{filme.titulo}}</span>
            <span class="genero">{{filme.genero}}</span>
            <mat-card-actions class="card-botao">
                <button mat-flat-button type="submit" class="editar" (click)=" OpenDialog(filme.id)" >Editar</button>
                <button mat-flat-button type="submit" class="excluir" (click)="Deletar(filme.id)">Excluir</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</div>
<app-footer></app-footer>
