<app-header></app-header>
<div id="main">
    <mat-card-content id="cadastro">
        <mat-card-title>Filmes</mat-card-title>
        <img src="/assets/cinema 1.png">
        <div id='form'>
            <mat-card-subtitle>Cadastrar Filmes</mat-card-subtitle>
            <div id="card-input">
                <mat-form-field appearance="outline">
                    <mat-label>Título do Filme</mat-label>
                    <input matInput type="text" placeholder="Placeholder">
                </mat-form-field> 
                <mat-form-field appearance="outline">
                    <mat-label>Gênero</mat-label>
                    <mat-select>
                      <mat-option value="1">Terror</mat-option>
                      <mat-option value="2">Ação</mat-option>
                      <mat-option value="3">comédia</mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-flat-button>Salvar</button>
            </div>
        </div>
    </mat-card-content>
    <mat-card id="filmes-cadastrados">
        <mat-card-content class="card-filme">
            <span class="titulo">Os outros</span>
            <span class="genero">Terror</span>
            <mat-card-actions class="card-botao">
                <button mat-flat-button type="submit" class="editar">Editar</button>
                <button mat-flat-button type="submit" class="excluir">Excluir</button>
            </mat-card-actions>
        </mat-card-content> 
        <mat-card-content class="card-filme">
            <span class="titulo">Os outros</span>
            <span class="genero">Terror</span>
            <mat-card-actions class="card-botao">
                <button mat-flat-button type="submit" class="editar">Editar</button>
                <button mat-flat-button type="submit" class="excluir">Excluir</button>
            </mat-card-actions>
        </mat-card-content> 
        <mat-card-content class="card-filme">
            <span class="titulo">Os outros</span>
            <span class="genero">Terror</span>
            <mat-card-actions class="card-botao">
                <button mat-flat-button type="submit" class="editar">Editar</button>
                <button mat-flat-button type="submit" class="excluir">Excluir</button>
            </mat-card-actions>
        </mat-card-content> 
    </mat-card>
</div>
<app-footer></app-footer>