<app-header></app-header>
<main id="main">
    <mat-card-content id="card-cadastro">
        <mat-card-title>Cadastro</mat-card-title>
        <form >
          <div id="card-input">
              <mat-form-field appearance="outline">
                  <mat-label>Nome</mat-label>
                  <input matInput type="text"  [formControl]="nome" required>
                  <mat-error *ngIf="nome.invalid">{{getErrorMessageNome()}}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                  <mat-label>E-mail</mat-label>
                  <input matInput type="email" [formControl]="email" required>
                  <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                  <mat-label>Telefone</mat-label>
                  <input matInput   [formControl]="telefone" required>
                  <mat-error *ngIf="telefone.invalid">{{getErrorMessageTelefone()}}</mat-error>
              </mat-form-field>
          </div>
          <button mat-flat-button type="submit" id="botao" [disabled]="nome.invalid || email.invalid || telefone.invalid" (click)="Cadastrar()">cadastrar</button>
        </form>

    </mat-card-content>
    <mat-card id="usuarios-cadastrados">
        <mat-card-content class="card-usuarios" *ngFor="let usuario of listaUsuarios ">
            <span class="nome">{{usuario.nome}}</span>
            <span class="email">{{usuario.email}}</span>
            <span class="phone">{{usuario.telefone}}</span>
            <mat-card-actions class="card-botao">
                <button mat-flat-button type="submit" class="editar" (click)="OpenDialog(usuario.id)" >Editar</button>
                <button mat-flat-button type="submit" class="excluir" (click)="Deletar(usuario.id)"  >Excluir</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>

</main>
<app-footer></app-footer>
