<app-header></app-header>
<main id="main">
    <mat-card-content id="card-cadastro">
        <mat-card-title>Cadastro</mat-card-title>
        <form >
            <div id="card-input">
                <mat-form-field appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input matInput type="text"  [formControl]="nome" required>
                    <mat-error *ngIf="nome.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field> 
                <mat-form-field appearance="outline">
                    <mat-label>E-mail</mat-label>
                    <input matInput type="email" [formControl]="email" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field> 
                <mat-form-field appearance="outline">
                    <mat-label>Telefone</mat-label>
                    <input matInput type="number"  [formControl]="telefone" required>
                    <mat-error *ngIf="telefone.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>   
            </div>
            <button mat-flat-button type="submit" >cadastrar</button> 
        </form> 
          
    </mat-card-content>
    <mat-card id="usuarios-cadastrados">
        <mat-card-content class="card-usuarios">
            <span class="nome">Nome</span>
            <span class="email">e-mail</span>
            <span class="phone">tel11111</span>
            <mat-card-actions class="card-botao">
                <button mat-flat-button type="submit" class="editar">Editar</button>
                <button mat-flat-button type="submit" class="excluir">Excluir</button>
            </mat-card-actions>
        </mat-card-content> 
        <mat-card-content class="card-usuarios">
            <span class="nome">Nome</span>
            <span class="email">e-mail</span>
            <span class="phone">tel11111</span>
            <mat-card-actions class="card-botao">
                <button mat-flat-button type="submit" class="editar">Editar</button>
                <button mat-flat-button type="submit" class="excluir">Excluir</button>
            </mat-card-actions>
        </mat-card-content> 
        <mat-card-content class="card-usuarios">
            <span class="nome">Nome</span>
            <span class="email">e-mail</span>
            <span class="phone">tel11111</span>
            <mat-card-actions class="card-botao">
                <button mat-flat-button type="submit" class="editar">Editar</button>
                <button mat-flat-button type="submit" class="excluir">Excluir</button>
            </mat-card-actions>
        </mat-card-content>  
        <mat-card-content class="card-usuarios">
            <span class="nome">Nome</span>
            <span class="email">e-mail</span>
            <span class="phone">tel11111</span>
            <mat-card-actions class="card-botao">
                <button mat-flat-button type="submit" class="editar">Editar</button>
                <button mat-flat-button type="submit" class="excluir">Excluir</button>
            </mat-card-actions>
        </mat-card-content>  
        <mat-card-content class="card-usuarios">
            <span class="nome">Nome</span>
            <span class="email">e-mail</span>
            <span class="phone">tel11111</span>
            <mat-card-actions class="card-botao">
                <button mat-flat-button type="submit" class="editar">Editar</button>
                <button mat-flat-button type="submit" class="excluir">Excluir</button>
            </mat-card-actions>
        </mat-card-content>  
    </mat-card>
    
</main>

<app-footer></app-footer>