#main{
    margin: 0 14vw;
}
#cadastro{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cadastro mat-card-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin:12px 0;
}
#form{
    width: 100%;
}
#cadastro mat-card-subtitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
}
#card-input{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
mat-form-field{
    max-width: 350px;
    width: 100%;
}
mat-label{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #4B2142; 
 }
#form button{
    height: 52px;
    width: 150px;
    background-color:#f6511d;
    color: white;
    border-radius: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
#form button:disabled{
    background-color:gray;
}
#genero-cadastrados{
    margin: 80px 0;
}
.card-genero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-genero span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #4B2142;
}
.card-botao{
    width: 262px;
    display: flex;
    justify-content: space-between;
}
.card-botao .editar{
    height: 35px;
    width: 125px;
    background: #F6511D;
    border: 2px solid #F6511D;
    border-radius: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;
}
.card-botao .excluir{
    height: 35px;
    width: 125px;
    background: #41B8D2;
    border: 2px solid #41B8D2;
    border-radius: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: black;
}