#principal{
    margin:30px 14vw;
    display: flex;
    flex-direction: column;
}
#titulo-1{
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 58px;
}
article mat-card-subtitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}
article p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.41px;
}

#segundo{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
img{
    max-width: 100px;
    margin-left: 0;
}
.subtitulo{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}
.segmento{
    width: 90%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.41px;
}