<app-header></app-header>
<div id="principal">
    <mat-card-title id="titulo-1">Monte sua coletânea de filmes...</mat-card-title>
    <article>
        <mat-card-subtitle>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor</mat-card-subtitle>
        <p> Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut eiusmod tempor</p>
    </article>
    <mat-card id="segundo">
        <mat-card-content id="filmes">
            <img mat-card-image src="/assets/cinema 1.png">
            <mat-card-title class="subtitulo">Filmes</mat-card-title>
            <p class="segmento">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut eiusmod tempor incididunt ut labore aliquip ex ea commodo consequat.</p>
        </mat-card-content>   
        <mat-card-content id="genero">
            <img mat-card-image src="/assets/theater 1.png">
            <mat-card-title class="subtitulo">Categoria</mat-card-title>
            <p class="segmento">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut eiusmod tempor incididunt ut labore aliquip ex ea commodo consequat.</p>
        </mat-card-content>   
    </mat-card>
</div>
<app-footer></app-footer>